.container {
    width: 200px;
    height: 200px;
    background-color: aqua;

}

.bg-green {background-color: rgb(0, 153, 0);}
.bg-red {background-color: rgb(153, 0, 0);}
.bg-blue {background-color: rgb(0, 0, 255);}


